<tr>
  <td><%= list.id %></td>
  <td><%= list.user.name %></td>
  <td><%= list.user.address %></td>
  <td><%= list.user.phone %></td>
  <td><%= list.user.email %></td>
  <td><%= formatDayTime list.created_at %></td>
  <td><%= (outPrice list.total.to_s) + " đ" %></td>
  <td>
    <%= raw('<span class="label label-warning">Chưa xác nhận</span>') if list.notdefined? %>
    <%= raw('<span class="label label-info">Đã xác nhận</span>') if list.defined? %>
    <%= raw('<span class="label label-danger">Đơn hàng hủy</span>') if list.cancel? %>
  </td>
  <td>
    <%=
      button_tag(type: "button", class: "show-details btn btn-primary", "data-toggle": "modal", "data-target": "#detailsModal", "details-id": list.id) do
        raw('<i class="fa fa-eye" aria-hidden="true"></i>')
      end
    %>

  </td>
</tr>
